main {
  padding: 400px;
  padding-top: 50px;
  display: inline-block;
}

.blue {
  color: #3498db;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

pre {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  overflow: auto;
}